### Panads:
A open source library for data wrangling.
Few important feature
1. Highly efficient implementation using cython
1. An efficent data frame object with integrated indexing
2. Tools for importing data
3. Tools for dealing with missing values
4. Adding and removing Columns
5. Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
6. Efficient merge and join
7. Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;

In [10]:
#importing Pandas
import pandas as pd
import numpy as np
pd.__version__

'0.20.1'

In [12]:
#Basic Series and DataFrame object
a=pd.Series([1,1.5,np.nan,78])
b=pd.Series([1,85,88,55])
c=pd.DataFrame([a,b])
print(c)

     0     1     2     3
0  1.0   1.5   NaN  78.0
1  1.0  85.0  88.0  55.0

In [13]:
#Special way to create Series and DataFrame
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01  1.571789 -1.137488 -0.644845  1.500305
2013-01-02  0.628011 -1.890479  1.768152  0.131860
2013-01-03  0.023819  0.597618  1.201802 -0.202801
2013-01-04 -0.276918  0.569962 -2.801256 -0.820433
2013-01-05  0.314323  0.112508  1.089259 -1.310252
2013-01-06 -1.308176 -0.089296 -2.105134  1.790537

In [19]:
#Viewing the data
print("The head of data is \n",df.head(2))
print("\nThe tail of data is \n",df.tail())
print(df.describe())

The head of data is
                    A         B         C         D
2013-01-01  1.571789 -1.137488 -0.644845  1.500305
2013-01-02  0.628011 -1.890479  1.768152  0.131860

The tail of data is
                    A         B         C         D
2013-01-02  0.628011 -1.890479  1.768152  0.131860
2013-01-03  0.023819  0.597618  1.201802 -0.202801
2013-01-04 -0.276918  0.569962 -2.801256 -0.820433
2013-01-05  0.314323  0.112508  1.089259 -1.310252
2013-01-06 -1.308176 -0.089296 -2.105134  1.790537
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.158808 -0.306196 -0.248670  0.181536
std    0.959268  1.000789  1.901610  1.241579
min   -1.308176 -1.890479 -2.801256 -1.310252
25%   -0.201734 -0.875440 -1.740062 -0.666025
50%    0.169071  0.011606  0.222207 -0.035471
75%    0.549589  0.455599  1.173666  1.158193
max    1.571789  0.597618  1.768152  1.790537

In [20]:
#Taking transpose
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.571789    0.628011    0.023819   -0.276918    0.314323   -1.308176
B   -1.137488   -1.890479    0.597618    0.569962    0.112508   -0.089296
C   -0.644845    1.768152    1.201802   -2.801256    1.089259   -2.105134
D    1.500305    0.131860   -0.202801   -0.820433   -1.310252    1.790537

In [21]:
#Sorting the data
print("The data sorted by column A\n",df.sort_values(by="B"))

The data sorted by column A
                    A         B         C         D
2013-01-02  0.628011 -1.890479  1.768152  0.131860
2013-01-01  1.571789 -1.137488 -0.644845  1.500305
2013-01-06 -1.308176 -0.089296 -2.105134  1.790537
2013-01-05  0.314323  0.112508  1.089259 -1.310252
2013-01-04 -0.276918  0.569962 -2.801256 -0.820433
2013-01-03  0.023819  0.597618  1.201802 -0.202801

In [29]:
#Slecting 
print("The Colums A is \n",df["A"])
print("\nThe first and Seocnd rowsm according to roq number are\n",df[0:2])
print("\nThe first and Seocnd rows using indexesare \n",df['2013-01-01': '2013-01-03'])

The Colums A is
 2013-01-01    1.571789
2013-01-02    0.628011
2013-01-03    0.023819
2013-01-04   -0.276918
2013-01-05    0.314323
2013-01-06   -1.308176
Freq: D, Name: A, dtype: float64

The first and Seocnd rows are
                    A         B         C         D
2013-01-01  1.571789 -1.137488 -0.644845  1.500305
2013-01-02  0.628011 -1.890479  1.768152  0.131860

The first and Seocnd rows are
                    A         B         C         D
2013-01-01  1.571789 -1.137488 -0.644845  1.500305
2013-01-02  0.628011 -1.890479  1.768152  0.131860
2013-01-03  0.023819  0.597618  1.201802 -0.202801

In [33]:
df.loc('2013-01-01')

In [ ]:
pd.read_csv