In [1]:
#Iterations in Python
import pandas as pd
import numpy as np
 
N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 100, size=(N)).tolist()
    })
print(df)

            A       C           D     x         y
0  2016-01-01  Medium  149.898675   0.0  0.122331
1  2016-01-02     Low   69.317477   1.0  0.969527
2  2016-01-03     Low   38.824213   2.0  0.135952
3  2016-01-04     Low  129.655357   3.0  0.164853
4  2016-01-05  Medium  -22.544974   4.0  0.087956
5  2016-01-06     Low    2.897512   5.0  0.170847
6  2016-01-07    High  160.606489   6.0  0.538731
7  2016-01-08     Low  119.948456   7.0  0.303503
8  2016-01-09  Medium   22.711959   8.0  0.560704
9  2016-01-10     Low  211.646688   9.0  0.746013
10 2016-01-11    High  102.161169  10.0  0.925401
11 2016-01-12  Medium  246.724010  11.0  0.304136
12 2016-01-13    High   16.174147  12.0  0.440482
13 2016-01-14    High   10.902139  13.0  0.316202
14 2016-01-15    High  111.598761  14.0  0.933671
15 2016-01-16    High  151.939587  15.0  0.566666
16 2016-01-17     Low  154.015261  16.0  0.965107
17 2016-01-18    High  326.485944  17.0  0.779990
18 2016-01-19     Low   35.195569  18.0  0.844315
19 2016-01-20     Low   45.753774  19.0  0.200612

In [2]:
#Iterating over columns
for col in df:
    print(col)

A
C
D
x
y

In [3]:
#Iterating over items
for k,v in df.iteritems():
    print (k,v)
for r in df.itertuples():
    print(r)
for rn, r in df.iterrows():
    print(rn,r)

A 0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]
C 0     Medium
1        Low
2        Low
3        Low
4     Medium
5        Low
6       High
7        Low
8     Medium
9        Low
10      High
11    Medium
12      High
13      High
14      High
15      High
16       Low
17      High
18       Low
19       Low
Name: C, dtype: object
D 0     149.898675
1      69.317477
2      38.824213
3     129.655357
4     -22.544974
5       2.897512
6     160.606489
7     119.948456
8      22.711959
9     211.646688
10    102.161169
11    246.724010
12     16.174147
13     10.902139
14    111.598761
15    151.939587
16    154.015261
17    326.485944
18     35.195569
19     45.753774
Name: D, dtype: float64
x 0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
y 0     0.122331
1     0.969527
2     0.135952
3     0.164853
4     0.087956
5     0.170847
6     0.538731
7     0.303503
8     0.560704
9     0.746013
10    0.925401
11    0.304136
12    0.440482
13    0.316202
14    0.933671
15    0.566666
16    0.965107
17    0.779990
18    0.844315
19    0.200612
Name: y, dtype: float64
Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), C='Medium', D=149.89867456957654, x=0.0, y=0.12233138552816825)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), C='Low', D=69.317476747872249, x=1.0, y=0.96952690626473037)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), C='Low', D=38.824212823056136, x=2.0, y=0.13595172639268749)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), C='Low', D=129.65535663200401, x=3.0, y=0.16485305985886867)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), C='Medium', D=-22.544973972527345, x=4.0, y=0.087955702259126967)
Pandas(Index=5, A=Timestamp('2016-01-06 00:00:00'), C='Low', D=2.89751152507543, x=5.0, y=0.17084671916314575)
Pandas(Index=6, A=Timestamp('2016-01-07 00:00:00'), C='High', D=160.60648934459348, x=6.0, y=0.53873089296698573)
Pandas(Index=7, A=Timestamp('2016-01-08 00:00:00'), C='Low', D=119.9484564817965, x=7.0, y=0.30350288465851105)
Pandas(Index=8, A=Timestamp('2016-01-09 00:00:00'), C='Medium', D=22.711958828402317, x=8.0, y=0.56070354463160355)
Pandas(Index=9, A=Timestamp('2016-01-10 00:00:00'), C='Low', D=211.64668838073266, x=9.0, y=0.74601275996831828)
Pandas(Index=10, A=Timestamp('2016-01-11 00:00:00'), C='High', D=102.16116943661724, x=10.0, y=0.92540118780006797)
Pandas(Index=11, A=Timestamp('2016-01-12 00:00:00'), C='Medium', D=246.72401033268835, x=11.0, y=0.30413629998300828)
Pandas(Index=12, A=Timestamp('2016-01-13 00:00:00'), C='High', D=16.174146775601045, x=12.0, y=0.44048160120710722)
Pandas(Index=13, A=Timestamp('2016-01-14 00:00:00'), C='High', D=10.902138578820143, x=13.0, y=0.31620153091117897)
Pandas(Index=14, A=Timestamp('2016-01-15 00:00:00'), C='High', D=111.59876120749433, x=14.0, y=0.93367097328598714)
Pandas(Index=15, A=Timestamp('2016-01-16 00:00:00'), C='High', D=151.93958656859303, x=15.0, y=0.56666648399037112)
Pandas(Index=16, A=Timestamp('2016-01-17 00:00:00'), C='Low', D=154.01526081768105, x=16.0, y=0.96510690003215216)
Pandas(Index=17, A=Timestamp('2016-01-18 00:00:00'), C='High', D=326.48594375067603, x=17.0, y=0.77999023554088631)
Pandas(Index=18, A=Timestamp('2016-01-19 00:00:00'), C='Low', D=35.195568630765763, x=18.0, y=0.84431505377688632)
Pandas(Index=19, A=Timestamp('2016-01-20 00:00:00'), C='Low', D=45.753773608369173, x=19.0, y=0.20061181477816414)
0 A    2016-01-01 00:00:00
C                 Medium
D                149.899
x                      0
y               0.122331
Name: 0, dtype: object
1 A    2016-01-02 00:00:00
C                    Low
D                69.3175
x                      1
y               0.969527
Name: 1, dtype: object
2 A    2016-01-03 00:00:00
C                    Low
D                38.8242
x                      2
y               0.135952
Name: 2, dtype: object
3 A    2016-01-04 00:00:00
C                    Low
D                129.655
x                      3
y               0.164853
Name: 3, dtype: object
4 A    2016-01-05 00:00:00
C                 Medium
D                -22.545
x                      4
y              0.0879557
Name: 4, dtype: object
5 A    2016-01-06 00:00:00
C                    Low
D                2.89751
x                      5
y               0.170847
Name: 5, dtype: object
6 A    2016-01-07 00:00:00
C                   High
D                160.606
x                      6
y               0.538731
Name: 6, dtype: object
7 A    2016-01-08 00:00:00
C                    Low
D                119.948
x                      7
y               0.303503
Name: 7, dtype: object
8 A    2016-01-09 00:00:00
C                 Medium
D                 22.712
x                      8
y               0.560704
Name: 8, dtype: object
9 A    2016-01-10 00:00:00
C                    Low
D                211.647
x                      9
y               0.746013
Name: 9, dtype: object
10 A    2016-01-11 00:00:00
C                   High
D                102.161
x                     10
y               0.925401
Name: 10, dtype: object
11 A    2016-01-12 00:00:00
C                 Medium
D                246.724
x                     11
y               0.304136
Name: 11, dtype: object
12 A    2016-01-13 00:00:00
C                   High
D                16.1741
x                     12
y               0.440482
Name: 12, dtype: object
13 A    2016-01-14 00:00:00
C                   High
D                10.9021
x                     13
y               0.316202
Name: 13, dtype: object
14 A    2016-01-15 00:00:00
C                   High
D                111.599
x                     14
y               0.933671
Name: 14, dtype: object
15 A    2016-01-16 00:00:00
C                   High
D                 151.94
x                     15
y               0.566666
Name: 15, dtype: object
16 A    2016-01-17 00:00:00
C                    Low
D                154.015
x                     16
y               0.965107
Name: 16, dtype: object
17 A    2016-01-18 00:00:00
C                   High
D                326.486
x                     17
y                0.77999
Name: 17, dtype: object
18 A    2016-01-19 00:00:00
C                    Low
D                35.1956
x                     18
y               0.844315
Name: 18, dtype: object
19 A    2016-01-20 00:00:00
C                    Low
D                45.7538
x                     19
y               0.200612
Name: 19, dtype: object

In [4]:
#Sorting in Pandas by index(sort_index()) and values(sort_values())

udf=pd.DataFrame(np.random.randn(10,3),index=[1,4,6,2,3,5,9,8,0,7],columns=['col3','col2','col1'])
sdf=udf.sort_index(axis =1)
print(sdf)

       col1      col2      col3
1  1.065454  0.226975  0.239017
4 -0.491218 -1.203370 -0.484174
6  1.790684 -0.032194  1.456417
2  0.391122 -0.774930  1.586610
3  0.722694  0.397113 -2.002805
5 -0.972315  0.093907  1.671274
9 -0.132341  1.270404  1.583701
8 -0.656162 -1.962990  0.931516
0 -0.534856 -0.410331  1.068901
7 -0.231056  0.179510  0.018037

In [5]:
#Indexing and Slicing
df=pd.DataFrame(np.random.randn(8,4),columns=['a','b','c','d'], index=list("ABCDEFGH"))
print(df.loc['A':'C','a':'c'])

          a         b         c
A  1.198116  1.541056 -0.200801
B  0.543302 -0.563553 -0.674754
C  0.388706 -0.447025  0.211964

In [6]:
#Statistical Formula
sq=[x*x for x in range(1,20)]
a=pd.Series(sq)
print(a.pct_change())

0          NaN
1     3.000000
2     1.250000
3     0.777778
4     0.562500
5     0.440000
6     0.361111
7     0.306122
8     0.265625
9     0.234568
10    0.210000
11    0.190083
12    0.173611
13    0.159763
14    0.147959
15    0.137778
16    0.128906
17    0.121107
18    0.114198
dtype: float64

In [7]:
a=pd.Series(list(range(10)))
b=pd.Series(list(x**2 +69 for x in range(10)))
#print(a)
#print(b)
print(a.cov(b))
print(a.corr(b))

82.5
0.962690737141

In [8]:
df=pd.DataFrame(np.random.randn(5,3),index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df['one'].isnull())
df.fillna(0)
print("\n After dropping we get \n",df.dropna())
print("\nAfter filling we get\n", df["one"])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

 After dropping we get
         one       two     three
a  0.976258  0.229538 -0.909193
c -1.585596 -2.122361  0.589579
e -0.388730  0.136557 -0.700580
f  0.521276 -0.703997  0.209648
h  1.077464  1.477306 -0.756187

After filling we get
 a    0.976258
b         NaN
c   -1.585596
d         NaN
e   -0.388730
f    0.521276
g         NaN
h    1.077464
Name: one, dtype: float64

In [9]:
#Replacing Missing with Generic Values
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
print (df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

In [10]:
#Practicing Groupby commands
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print (df)

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

In [11]:
df.groupby("Team").groups

{'Devils': Int64Index([2, 3], dtype='int64'),
 'Kings': Int64Index([4, 6, 7], dtype='int64'),
 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'),
 'Royals': Int64Index([9, 10], dtype='int64'),
 'kings': Int64Index([5], dtype='int64')}

In [12]:
df.groupby(["Team","Year"]).groups

{('Devils', 2014): Int64Index([2], dtype='int64'),
 ('Devils', 2015): Int64Index([3], dtype='int64'),
 ('Kings', 2014): Int64Index([4], dtype='int64'),
 ('Kings', 2016): Int64Index([6], dtype='int64'),
 ('Kings', 2017): Int64Index([7], dtype='int64'),
 ('Riders', 2014): Int64Index([0], dtype='int64'),
 ('Riders', 2015): Int64Index([1], dtype='int64'),
 ('Riders', 2016): Int64Index([8], dtype='int64'),
 ('Riders', 2017): Int64Index([11], dtype='int64'),
 ('Royals', 2014): Int64Index([9], dtype='int64'),
 ('Royals', 2015): Int64Index([10], dtype='int64'),
 ('kings', 2015): Int64Index([5], dtype='int64')}

In [13]:
grp=df.groupby("Year").groups