In [1]:
#Pmadas has Series, Dataframe and Panel
import numpy as np
import pandas as pd

#Empty Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
#DataFrame from List
a=[1,4,9,16,25,36]
df=pd.DataFrame(a)
print(df)

b=[[1,1,1],[2,4,8],[3,9,27],[4,16,64],[5,25,125],[6,36,216]]
df=pd.DataFrame(b,columns=["number","square","cube"],index=["one","two","three","four","five","six"])
print("\n The second DataFrame is \n",df)

    0
0   1
1   4
2   9
3  16
4  25
5  36

 The second DataFrame is
        number  square  cube
one         1       1     1
two         2       4     8
three       3       9    27
four        4      16    64
five        5      25   125
six         6      36   216

In [3]:
#DataFrame from dict
data= {'Name':['Ashish', 'Abhishek', 'Mohit', 'Aryan'],'Age':[21,22,23,18]}
df=pd.DataFrame(data)
print(df)

   Age      Name
0   21    Ashish
1   22  Abhishek
2   23     Mohit
3   18     Aryan

In [4]:
#Columns Addition and Deltion
df["sex"]=["M","M","M","M"]
print(df)
del df["sex"]
print("\nAfter Deletion\n", df)

   Age      Name sex
0   21    Ashish   M
1   22  Abhishek   M
2   23     Mohit   M
3   18     Aryan   M

After Deletion
    Age      Name
0   21    Ashish
1   22  Abhishek
2   23     Mohit
3   18     Aryan

In [5]:
#Row Selction, Addition, Deleyion
print(df.loc(0))
print(df[0:1])
df2=pd.DataFrame([45,"Hemant Jha"])
df2=df2.T
print("\n",df2)
df.append(df2)
print("\nAfter appending an row\n",df)

<pandas.core.indexing._LocIndexer object at 0x0000014609ABC1D0>
   Age    Name
0   21  Ashish

     0           1
0  45  Hemant Jha

After appending an row
    Age      Name
0   21    Ashish
1   22  Abhishek
2   23     Mohit
3   18     Aryan

In [6]:
#Descriptive Statistics
print(df.describe())
print(df.cumsum())
#print(df.cumprod())
print(df.min())

             Age
count   4.000000
mean   21.000000
std     2.160247
min    18.000000
25%    20.250000
50%    21.500000
75%    22.250000
max    23.000000
  Age                      Name
0  21                    Ashish
1  43            AshishAbhishek
2  66       AshishAbhishekMohit
3  84  AshishAbhishekMohitAryan
Age           18
Name    Abhishek
dtype: object

In [7]:
#IO
df=pd.read_csv("ashish.csv",sep=",", names=['a', 'b', 'c','d','e'])
print(df)
print("\n The descriptive statistics are\n",df.describe())

      a       b    c          d       e
0  S.No    Name  Age       City  Salary
1     1     Tom   28    Toronto   20000
2     2     Lee   32   HongKong    3000
3     3  Steven   43   Bay Area    8300
4     4     Ram   38  Hyderabad    3900

 The descriptive statistics are
            a    b   c          d       e
count      5    5   5          5       5
unique     5    5   5          5       5
top     S.No  Lee  38  Hyderabad  Salary
freq       1    1   1          1       1

In [8]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print(df)
print (df.apply(np.std))

       col1      col2      col3
0  0.385473 -0.599817  0.026823
1 -0.005852 -0.660138 -1.440054
2  1.798135 -0.177321 -1.494130
3  0.407015 -0.013304  1.273826
4  0.190856  0.393315 -1.334822
col1    0.639246
col2    0.389440
col3    1.090784
dtype: float64